.home {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -90px;
  text-align: center;
  transform: translate(-50%);
}

.home-header {
  color: white;
}

.home-title {
  margin-top: 0;
  font-size: 56px;
  color: var(--color-red);
}

.home-subtitle {
  font-size: 32px;
}

.home-subtitle:last-of-type {
  margin-bottom: 0;
}
